Repository open-unlight/dawn-ce: changes, and which GitLab CI jobs are due for each by the changed paths.
All: hadolint, licensed, bundler-audit, bundler-leak

Path conditions:
  hadolint: any of: Dockerfile
  licensed: any of: Gemfile, Gemfile.lock
  bundler-audit: any of: Gemfile, Gemfile.lock
  bundler-leak: any of: Gemfile, Gemfile.lock

Upgrade rubocop to 1.8.1
  .codeclimate.yml
  Gemfile
  Gemfile.lock
Due: licensed, bundler-audit, bundler-leak

Apply rubocop auto correction
  script/ranking_event_reward.rb
  src/controller/chat_controller.rb
  src/model/achievement.rb
  src/model/avatar.rb
  src/model/chara_card.rb
  src/model/chara_card_slot_inventory.rb
  src/model/cpu_card_data.rb
  src/model/cpu_room_data.rb
  src/model/feat.rb
  src/model/player.rb
  src/model/profound.rb
  src/model/profound_inventory.rb
  src/model/profound_log.rb
  src/rule/entrant.rb
  src/rule/reward.rb
Due: none

Update .rubocop_todo.yml
  .rubocop.yml
  .rubocop_todo.yml
Due: none

Disable Metrics/ParameterLists for rubocop not detect correctly
  src/model/achievement.rb
  src/model/avatar.rb
  src/model/chara_card.rb
  src/model/profound.rb
  src/model/total_ranking.rb
  src/rule/entrant.rb
  src/rule/multi_duel.rb
Due: none

Apply rubocop correction for performance
  .rubocop_todo.yml
  script/backup_db.rb
  script/check_combine_weapons_param.rb
  script/create_font_swf.rb
  script/delete_rental_card.rb
  src/constants/constants.rb
  src/model/achievement.rb
  src/model/action_card.rb
  src/model/avatar.rb
  src/model/avatar_apology.rb
  src/model/chara_card.rb
  src/model/chara_card_slot_inventory.rb
  src/model/chara_card_story.rb
  src/model/combine_case.rb
  src/model/event_serial.rb
  src/model/feat.rb
  src/model/infection_collabo_serial.rb
  src/model/profound.rb
  src/model/profound_inventory.rb
  src/model/rare_card_lot.rb
  src/model/reissue_request.rb
  src/model/scenario.rb
  src/net/srp.rb
  src/protocol/command/command.rb
  src/rule/context.rb
  src/rule/deck.rb
  src/rule/event/event.rb
  src/rule/event_deck.rb
  src/unlight.rb
Due: none

Upgrade package to support alpine 3.13
  Dockerfile
Due: hadolint

[bug-fix] Incorrect event card number while 1V1 duel
  src/rule/multi_duel.rb
Due: none

[bug-fix]Skill fix
  src/model/chara_card.rb
Due: none

fix: Gemfile to reduce vulnerabilities
  Gemfile
Due: licensed, bundler-audit, bundler-leak

Security Update: SNYK-RUBY-REXML-1244518
  Gemfile
  Gemfile.lock
Due: licensed, bundler-audit, bundler-leak

Update ruby to 2.6.7 and mysql to 8.0
  .gitlab-ci.yml
  .ruby-version
  Dockerfile
  README.md
Due: hadolint

Fix MySQL 8 plugin breaks GitLab CI
  .gitlab-ci.yml
Due: none

Add client data generator to generate JSON data for client
  lib/dawn/services/client_data_generator.rb
  lib/tasks/data/export.rake
  lib/tasks/data/import.rake
Due: none

fix: Gemfile & Gemfile.lock to reduce vulnerabilities
  Gemfile
  Gemfile.lock
Due: licensed, bundler-audit, bundler-leak

fix: Gemfile & Gemfile.lock to reduce vulnerabilities (#5)
  Gemfile
  Gemfile.lock
Due: licensed, bundler-audit, bundler-leak

[bug-fix]Skill fix #issue5
  src/model/chara_card.rb
Due: none

Replace sentry-raven to sentry-ruby
  Gemfile
  Gemfile.lock
  config/initializers/sentry.rb
  src/protocol/ulserver.rb
  src/unlight.rb
Due: licensed, bundler-audit, bundler-leak

Upgrade packages
  Dockerfile
  Gemfile.lock
  docker-compose.dev.yml
Due: hadolint, licensed, bundler-audit, bundler-leak

Update from sentry-raven to sentry-ruby with performance support
  src/protocol/ulserver.rb
Due: none

Update licensed reviewed dependency
  .licensed.yml
Due: none

Add xmlsocket support for Flash fallback
  .rubocop.yml
  bin/xmlsocket
Due: none

Improve GitLab CI task rules
  .gitlab-ci.yml
Due: none

Add GitHub actions
  .github/workflows/main.yml
Due: none

Update README badge to use github actions
  .github/workflows/main.yml
  README.md
Due: none

Upgrade ruby to 2.6.8
  .github/workflows/main.yml
  .gitlab-ci.yml
  .rubocop.yml
  .ruby-version
  Dockerfile
  README.md
Due: hadolint

Upgrade Ruby gems
  Gemfile
  Gemfile.lock
Due: licensed, bundler-audit, bundler-leak

Upgrade Rubocop to 1.19.0
  Gemfile
  Gemfile.lock
Due: licensed, bundler-audit, bundler-leak

Fix rubocop warngin after ugprade
  .rubocop.yml
  .rubocop_todo.yml
  lib/dawn/dataset.rb
  lib/dawn/services/data_importer.rb
  src/constants/common_constants.rb
  src/constants/constants.rb
  src/controller/duel_controller.rb
  src/model/avatar.rb
  src/model/chara_card.rb
  src/model/chara_card_deck.rb
  src/model/cpu_card_data.rb
  src/model/player.rb
  src/model/profound.rb
  src/model/quest.rb
  src/model/quest_map.rb
  src/model/watch_duel.rb
  src/net/srp.rb
  src/protocol/ulserver.rb
  src/rule/ai.rb
  src/rule/deck.rb
  src/rule/entrant.rb
  src/rule/multi_duel.rb
Due: none

Replace libressl to openssl
  Dockerfile
Due: hadolint

Alpine 3.14 breaks docker build in older docker version
  .gitlab-ci.yml
Due: none

Improve container security with readonly source code
  Dockerfile
Due: hadolint

Add API related gems
  Gemfile
  Gemfile.lock
Due: licensed, bundler-audit, bundler-leak

Add gem initializer for API
  config/initializers/oj.rb
  config/initializers/pagy.rb
  src/unlight.rb
Due: none

Add Game API skeleton
  docker-compose.dev.yml
  lib/dawn/api.rb
  lib/dawn/api/base.rb
  src/api/game/v1.rb
  src/api/game_api.rb
  src/game_api.ru
Due: none

Update gitlab-ci mysql default command
  .gitlab-ci.yml
Due: none

Implement auth middleware for Game API
  lib/dawn/api.rb
  lib/dawn/api/rack/auth.rb
  lib/dawn/api/rack/request.rb
  src/api/game_api.rb
Due: none

Add authenticator for game api
  lib/dawn/api.rb
  lib/dawn/api/authenticator.rb
  src/api/game_api.rb
Due: none

Add Danw::API::Authenticator tests
  spec/dawn/api/authenticator_spec.rb
Due: none
